body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

#board {
    margin: 20px auto;
}

.square-55d63.highlight {
    background-color: rgba(255, 255, 0, 0.6) !important;
}

.square-55d63.check {
    background-color: rgba(255, 0, 0, 0.6) !important;
}